body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

article {
  text-align: center;
  font-weight: bold;
  font-size: large;
}

nav {
  height: 120px;
  display: flex;
  justify-content: space-between;
  background-color: mintcream;
  text-transform: uppercase;
}

.logo {
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
}

.image {
  border-radius: 50%;
  margin-bottom: -17px;
}
/* navigation */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.nav-item {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  padding: 8px;
}

.nav-item:hover {
  background-color: black;
  color: mintcream;
  transition: 0.5s;
  border-radius: 10px;
}

/* main */

/* sliding banner */
.banner-img {
  background-size: cover;
  background-position: center;
  height: 500px;
}
.img-1 {
  background-image: url(https://images.pexels.com/photos/2932549/pexels-photo-2932549.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.img-2 {
  background-image: url(https://images.pexels.com/photos/271816/pexels-photo-271816.jpeg);
}

.img-3 {
  background-image: url(https://images.pexels.com/photos/4469178/pexels-photo-4469178.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

/* profile */

.profile-container {
  display: flex;
  justify-content: space-around;
  height: auto;
  width: auto;
}

.profile-item {
  height: 350px;
  width: 300px;
  text-align: center;
}

.profile-img-1 {
  height: 260px;

  background-image: url(https://images.pexels.com/photos/1571460/pexels-photo-1571460.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center;
  border-radius: 55%;
}

.profile-img-2 {
  height: 260px;
  background-image: url(https://images.pexels.com/photos/1571460/pexels-photo-1571460.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center;
  border-radius: 55%;
}

.profile-img-3 {
  height: 260px;
  background-image: url(https://images.pexels.com/photos/1571460/pexels-photo-1571460.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center;
  border-radius: 55%;
}

@media only screen and (max-width: 480px) {
  nav {
    flex-direction: column;
  }
  .profile-container {
    flex-direction: column;
  }
}
